 .u-section-1 {
  background-image: linear-gradient(#a35559, #f9e79b);
}

.u-section-1 .u-sheet-1 {
  min-height: 691px;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  margin: 62px 476px 0 367px;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  margin: 25px 0 60px 15px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 145px;
    margin-left: 267px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: 157px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-left: 67px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-right: 91px;
    margin-left: 0;
  }
}